In [1]:
'''
Sequence of Operations
'''

'\nSequence of Operations\n'

In [57]:
students = ['david', 'Robert', 'Mark', 'Lori', 'Kathy']
print(students)

['david', 'Robert', 'Mark', 'Lori', 'Kathy']

In [58]:
students = students + ['John', 'Clark']

In [4]:
print(students * 2)

['David', 'Robert', 'Mark', 'Lori', 'Kathy', 'David', 'Robert', 'Mark', 'Lori', 'Kathy']

In [55]:
students.append('Suresh')
print(students)

['David', 'John', 'Clark', 'Poppens', 'Suresh', 'Suresh', 'Suresh']

In [6]:
print(students[1:3])

['Robert', 'Mark']

In [62]:
students.insert(1, 'Abdul')
print(students)

['david', 'Abdul', 'Robert', 'Mark', 'Lori', 'Kathy', 'John', 'Clark']

In [59]:
print(sorted(students))

['Clark', 'John', 'Kathy', 'Lori', 'Mark', 'Robert', 'david']

In [65]:
print(students[:-1])

['david', 'Abdul', 'Robert', 'Mark', 'Lori', 'Kathy', 'John']

Kathy

In [11]:
print(students)

['David', 'Robert', 'Mark', 'Lori', 'Kathy']

In [14]:
print(students[len(students)-1])

Kathy

In [18]:
print(students[-1])

Kathy

In [17]:
classB = students[1:4]
print(classB)

['Robert', 'Mark', 'Lori']

In [23]:

print(students)

['David', 'Lori', 'Kathy']

In [26]:
del(students[1])

In [36]:
print(students)

['David']

In [29]:
print(students.pop(1))

Kathy

In [34]:
print(dir(students))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [41]:
print(students.index("David"))

0

In [46]:
courses = ('Maths', 'Science', 'Social', 'Computers')

In [47]:
print(courses)

('Maths', 'Science', 1)

In [48]:
print(type(courses))

<class 'tuple'>

In [49]:
for course in courses:
    print(course)

Maths
Science
1

In [68]:
numbers = (1,3,5,2)
print(type(numbers))

<class 'tuple'>

In [69]:
print(sorted(numbers))

[1, 2, 3, 5]

In [77]:
print(sorted(numbers[::-1]))

[1, 2, 3, 5]

In [78]:
print(1 in numbers)

True

In [79]:
print(numbers * 2)

(1, 3, 5, 2, 1, 3, 5, 2)

In [80]:
print(numbers.reverse())

AttributeError: 'tuple' object has no attribute 'reverse'